body, html{
  background-color: lightgray !important;
}

.input-group{
  margin: 20px 0px;
}

.container {
  background-color: lightgray !important;
}

td, th {
  vertical-align: middle !important;
  text-align: center !important;
}

.main-tr td {
  width: 200px;
  height: 200px;
}

.google-map-wrapper {
  height: 200px;
  width: 200px;
}

.no-weather-msg {
  position: absolute;
  top: 50%;
  left: 42%;
  color: green;
}
